.divHome {
  margin-left: 1em;
  margin-bottom: 3em;
}

.divHome div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 22%));
  padding: 1em;
  z-index: 1;
  gap: 2em;
}

.boxLinks {
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 4em;
  margin-left: 3em;
  font-family: Montserrat;
  font-style: Medium;
  font-size: 16px;

    button {
      background-color: #F6B750;
      border-radius: 20px;
      width: 6rem;
      color: #212429;
    
   }
}

.asideContainer1 {
  
  float: right;
  position: relative;
  z-index: 2;
  min-width: 15em;
  width: 25%;
  border: solid green 2px;
  min-height: 90vh;
  height: calc(100% - 1.2em);
 
   .box-aside{
    position: fixed;
  }

}

.asideContainer2 {
  position: relative;
  float: right;
  min-height: 90vh;
  height: calc(100% - 1.2em);
  z-index: 2;
  width: 4em;
  border: solid green 2px;
  
  .box-aside{
    position: fixed;
  }
}

.btnAside {
  border: none;
  opacity: 0.8;
  background-color: #F6B750;

}

.btnAside:focus {
  outline: none;
  opacity: 1;
}
