.divHome {
  margin-left: 1em;
  margin-bottom: 3em;
}

.divHome div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 22%));
  padding: 1em;
  z-index: 1;
  gap: 2em;
}

.boxLinks {
  display: grid;
  grid-template-columns: 20% 20%;
  gap: 3em;
  margin-left: 3em;
}

.asideContainer1 {
  
  float: right;
   position: relative;

  z-index: 2;
  min-width: 15em;
  width: 25%;
  border: solid green 2px;
  min-height: 90vh;
  height: 100%;
  background-color: rgb(228, 228, 63);

   .box-aside{
    position: fixed;
  }
}

.asideContainer2 {
  position: relative;
  float: right;
  z-index: 2;
  width: 4em;
  border: solid green 2px;
  min-height: 90vh;
  height: 100%;
  background-color: rgb(228, 228, 63);

  .box-aside{
    position: fixed;
  }
}

.btnAside {
  border: none;
}

.btnAside:focus {
  outline: none;
}
